@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
* {
  transition: 1.2s cubic-bezier(.17,.85,.438,.99);
}
img {
  height: auto;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* custom base */
@layer base {

}

/* custom components */
@layer components {

}


/* custom utilities */
@layer utilities {
  :root {
    --navy-dark: #161925;
    --navy-light: #1E2131;
    --yellow: #FFA552;
  }
  .text-navy-dark {
    color: var(--navy-dark);
  }
  .text-navy-light {
    color: var(--navy-light);
  }
  .text-yellow {
    color: var(--yellow);
  }
}

