@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
* {
  transition: 1.2s cubic-bezier(.17,.85,.438,.99);
}
body {
  position: relative;
}
img {
  height: auto;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* custom base */
@layer base {

}

/* custom components */
@layer components {

}

/* custom utilities */
@layer utilities {
  :root {
    --navy-dark: #161925;
    --navy-light: #1E2131;
    --yellow: #FFA552;
    --blue: #5C83FB;
  }
  .text-navy-dark {
    color: var(--navy-dark);
  }
  .text-navy-light {
    color: var(--navy-light);
  }
  .text-yellow {
    color: var(--yellow);
  }
  .text-blue {
    color: var(--blue);
  }
}

.home-banner::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.view-arrow::before {
  content: '';
  position: absolute;
  left: 16px;
  top: -16px;
  width: 52px;
  height: 66px;
  border-radius: 66px;
  background-color: var(--yellow);
  z-index: -1;
}
.counter-number::before {
  content: '';
  position: absolute;
  left: -20px;
  top: -12px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: -1;
}
.services-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 14px;
  width: 22px;
  height: 2px;
  background-color: var(--yellow);
}
.service-img::before {
  content: '';
  position: absolute;
  left: 14px;
  top: -10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--yellow);
  z-index: -1;
}